.hero {
  height: -webkit-fill-available;
  background: url('../../assets/hero-wallpaper.png') center;
  background-size: cover;

  /* Grid styles */
  display: grid;
  align-content: center;
  justify-items: center;
  // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-areas:
  'typewriter'
  'hero-button';
  padding: 0 2rem;
  height: 35rem;

  &__heading {
    font-weight: 100;
    color: #e9ecef;
  }

  &__typewrite {
    display: block;
    color: #e9ecef;
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    grid-area: typewriter;
    margin: 1rem 0 0 2rem;
    font-style: italic;
  }
}

.btn {
    grid-area: hero-button;
    &--animated {
        animation: move-bottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
    &:link,
    &:visited {
      margin-top: 1rem;
      border-radius: 1rem;
      display: inline-block;
      padding: 1rem 2.5rem;
      position: relative;
      text-decoration: none;
      transition: all 0.2s;
      border: 3px solid #3B4252;
      background: #121b30;
      color: #e9ecef;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba(#e2e2e2, 0.2);
        transform: translateY(-0.3rem);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba(#e2e2e2, 0.2);
        transform: translateY(-0 0.1rem);
    }

    &::after {
        border-radius: 10rem;
        content: '';
        display: inline;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 0.4s;
        z-index: -1;
    }
    &--white::after {
        background-color: #e9ecef;
    }
    &:hover::after {
        opacity: 0;
        transform: scaleX(1.4) scaleY(1.6);
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 16px;
        color: blue;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid blue;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: blue;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(#e2e2e2, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 1rem 1rem rgba(#e2e2e2, 0.15);
        transform: translateY(0);

    }
}

.social {
    margin-top: 1.5rem;
    &--animated {
        animation: move-bottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

    &__links {
        color: #fff;
        font-size: 1.5rem;
        margin: 0 1rem;
        border-radius: 2rem;
        transition: all 0.2s;
        padding-bottom: 1rem;

        &:hover {
            box-shadow: 0 1rem 2rem rgba(#e2e2e2, 0.2);
            transform: translateY(-0.3rem);
            background: transparent;
        }
        &:active {
            box-shadow: 0 0.5rem 1rem rgba(#e2e2e2, 0.2);
            transform: translateY(-0 0.1rem);
        }
    }
}

@keyframes move-left {
  0% {
      opacity: 0;
      transform: translate(-10rem);
  }

  80% {
      transform: translate(1rem);
  }
  100% {
      opacity: 1;
  }
}

@keyframes move-right {
  0% {
      opacity: 0;
      transform: translate(10rem);
  }
  80% {
      transform: translate(-1rem);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes move-bottom {
  0% {
      opacity: 0;
      transform: translateY(2rem);
  }
  80% {
      transform: translateY(-1rem);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

// .hero {
//   grid-area: hero;
//   display: grid;
//   align-self: center;
//   grid-template-areas:
//   'text image image';
//   margin-top: 2rem;

//   &__text {
//     color: #3B4252;
//     grid-area: text;

//     &--sub-header {
//       color: #adb5bd;
//     }
//   }

//   &__image {
//     grid-area: image;
//     height: auto;
//     max-width: 100%;
//   }

// }
// @media(max-width: 700px) {
//     .hero {
//       grid-template-areas:
//     'image'
//     'text';
//     }
// }

// @media(max-width: 500px) {
//   .hero {
//     grid-template-areas:
//   'image'
//   'text';
//   }
// }