.container {
  max-width: 45rem;
  margin: auto;
  padding: 0 2rem;
  margin-top: -6rem;
  border-radius: 5px;
  background: #fff;
}

.about {
  grid-area: about;
  display: grid;
  align-self: center;
  grid-template-areas:
  'text image image';
  margin-top: 2rem;
  padding: 1rem;

  &__text {
    color: #3B4252;
    grid-area: text;
    
    &--sub-header {
      color: #adb5bd;
      line-height: 1.5;
    }
    
    a {
      color: #3B4252;
      text-decoration: none;
      display: block;
    }
  }

  &__image {
    grid-area: image;
    height: auto;
    max-width: 100%;
  }

}
@media(max-width: 700px) {
    .about {
      grid-template-areas:
    'image'
    'text';
    }
}

@media(max-width: 500px) {
  .about {
    grid-template-areas:
  'image'
  'text';
  }
}

.header-text {
  color: #3B4252;
}